.App {
  text-align: center;
}

.App-logo {
  height: 20vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 25vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(20px + 2vmin);
  font-style: sans-serif;
  color: white;
}

.App-body {
  background-color: #282c34;
  min-height: 75vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* Adjust these styles in App.css */
.Navbar {
  background-color: #282c34; /* Same as .App-header for consistency */
  padding: 1rem; /* Adjust padding as needed */
  color: white;
  text-align: left; /* Align text to the left */
}

.Navbar-link {
  color: white; /* Make text color white */
  margin-right: 1rem; /* Adjust spacing between links */
  font-size: 2rem; /* Increase font size */
  text-decoration: none; /* Remove underline from links */
}

/* You might want to add :hover styles for .Navbar-link for better UI */
.Navbar-link:hover {
  text-decoration: underline; /* Example hover effect */
}

